@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
}

.background{
    background-image: url(imagens/imagens-de-fundo/gojo/satoru-gojo-2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

nav{
    background-color: rgba(0, 0, 0, 0.219);
    position: absolute;
    bottom: 0;
    min-width: 100vw;
    height: 90px;
}

ul{
    list-style: none;
}

button{
    background-image: url(imagens/icones/gojo/icon-gojo-4.jpg);
    background-size: cover;
    background-position: center center;
    border: none;
    border-radius: 100%;
    width: 80px;
    height:80px;
    margin: 7px 0px 0px 14px;
}